@charset "UTF-8";
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Gilroy", sans-serif;
  font-style: normal;
}

.wrapper {
  width: 1320px;
  margin-right: auto;
  margin-left: auto;
}

.header {
  background-color: white;
  padding-top: 33px;
  padding-bottom: 46px;
}

.contact_navigation {
  margin-bottom: 42px;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  width: 244px;
  height: 46px;
}

.number_cart_account {
  display: flex;
  align-items: center;
}

.telephone {
  display: flex;
  align-items: center;
}
.telephone .room {
  margin-left: 10px;
  margin-right: 60px;
  font-weight: 400;
  font-size: 20px;
  line-height: 21px;
  text-decoration: none;
  color: black;
}
.telephone img {
  position: relative;
  top: 5px;
}

.shopping_basket {
  position: relative;
  margin-right: 18px;
}
.shopping_basket .two_orders {
  font-size: 12px;
  line-height: 15px;
  margin: 0px;
  vertical-align: middle;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -10px;
  left: 15px;
  border-radius: 40px;
  background-color: #06D10E;
  color: white;
}

.main_nav {
  display: flex;
  justify-content: space-between;
}

.nav_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #4F4F4F;
}
.nav_block a {
  margin-right: 40px;
}
.nav_block a:nth-child(1) {
  margin-right: 60px;
}

.arrow {
  position: relative;
  top: -2px;
  right: -2px;
}

.header_input {
  position: relative;
  padding: 16px 124px 16px 20px;
  background: #F2F2F2;
  border: 1px solid #BDBDBD;
  border-radius: 10px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #828282;
}

.header_form {
  position: relative;
  margin: 0px;
  display: inline-block;
  font-size: 0px;
}

.search {
  font-size: 0px;
  display: inline-block;
  margin: 0px;
  position: absolute;
  top: 13px;
  left: 320px;
  border: none;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

.background_color {
  background-color: #F9F9F9;
}

.distance {
  padding-top: 74px;
  padding-bottom: 100px;
}

.bread_crumbs {
  margin-bottom: 30px;
}

.bread_crumbs .crumbs {
  display: inline-block;
  margin-right: 14px;
  color: #BDBDBD;
  text-decoration: none;
}

.crumbs:last-child {
  margin-right: 0px;
}

.crumbs:nth-last-child(n+2)::after {
  display: inline-block;
  content: "";
  position: relative;
  top: -2px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin-left: 15px;
  background-color: #BDBDBD;
}

.back_button {
  margin-bottom: 44px;
}
.back_button .back {
  margin: 0px;
  margin-bottom: 44px;
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #333;
}
.back_button .back::before {
  content: "";
  border: solid #3FCF5E;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 1px;
  height: 1px;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 3px;
  margin-right: 8px;
}

.main_cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 46px;
  margin-bottom: 50px;
}

.card:nth-child(2)::before {
  content: "Новинка";
  display: inline-block;
  position: absolute;
  right: 7px;
  top: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: white;
  padding: 9px 16px;
  background-color: #333333;
  border-radius: 10px;
}

.card:nth-child(3)::before {
  content: "Новинка";
  display: inline-block;
  position: absolute;
  right: 7px;
  top: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: white;
  padding: 9px 16px;
  background-color: #333333;
  border-radius: 10px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #F2F2F2;
  padding: 20px 20px 20px 20px;
  width: 315px;
  border-radius: 20px;
  border: 1px solid #F2F2F2;
  box-shadow: -8px -8px 15px #FFFFFF, 8px 8px 15px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
}
.card .price {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #333333;
  margin-bottom: 25px;
}
.card img {
  background-color: white;
  margin-bottom: 25px;
  border-radius: 5px;
}

.card_title {
  margin-bottom: 25px;
}
.card_title h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 130%;
  color: #333333;
  padding-bottom: 5px;
}
.card_title p {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #828282;
}

.choose_radio {
  margin-bottom: 25px;
}
.choose_radio label {
  display: inline-block;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #4F4F4F;
  cursor: pointer;
  padding: 4px 12px;
}

.choose {
  display: inline-block;
}
.choose input {
  display: none;
}
.choose input:checked + label {
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  outline: 1px solid #3FCF5E;
  padding: 4px 12px;
}

.choose:last-child {
  padding-right: 0px;
}

.button_card {
  display: inline-block;
  color: #FFFFFF;
  vertical-align: middle;
  padding: 12px 32px;
  border-radius: 10px;
  background: #3FCF5E;
  border: none;
}
.button_card a {
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}

.btn_buy {
  display: flex;
  justify-content: space-between;
}

.buy {
  display: inline-block;
  margin: 0px;
  border-radius: 10px;
  border: 1px solid #BDBDBD;
  background-color: white;
  padding: 10px 10px 6px;
  vertical-align: middle;
}
.buy img {
  margin: 0px;
}

.page_number {
  display: flex;
  justify-content: center;
  align-items: center;
}
.page_number a {
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 21px;
  color: #828282;
  margin-right: 20px;
}
.page_number :last-child {
  margin: 0px;
}
.page_number .start_number {
  color: #219653;
}

.page_number::before {
  content: "";
  background-image: url(../../img/Arrow\ -\ left.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 6px;
  height: 12px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 30px;
}

.page_number::after {
  content: "";
  background-image: url(../../img/Arrow\ -\ ri2.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 6px;
  height: 12px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 30px;
}

footer {
  display: flex;
  align-items: center;
  background: #333333;
}

.footer_arrangement {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 128px;
  padding-bottom: 128px;
}
.footer_arrangement a {
  text-decoration: none;
  color: white;
}

.payment_delivery a {
  color: white;
  margin-right: 48px;
}

.payment_delivery a:last-child {
  margin: 0px;
}

.social_networks a {
  display: inline-block;
  margin-right: 20px;
}

.social_networks a:last-child {
  margin-right: 0px;
}

.phone_footer img {
  position: relative;
  top: 5px;
}
.phone_footer a {
  margin-left: 10px;
}