@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.wrapper {
  width: 1320px;
  margin-right: auto;
  margin-left: auto;
}

.header {
  background-color: white;
}

.contact_navigation {
  padding: 33px 0px 42px;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  width: 244px;
  height: 46px;
}

.number_cart_account {
  display: flex;
  align-items: center;
}

.telephone {
  display: flex;
  align-items: center;
}
.telephone .room {
  margin-left: 10px;
  margin-right: 60px;
  font-weight: 400;
  font-size: 20px;
  line-height: 21px;
  text-decoration: none;
  color: black;
}

.shopping_basket {
  position: relative;
  margin-right: 18px;
}
.shopping_basket .two_orders {
  font-size: 12px;
  line-height: 15px;
  margin: 0px;
  vertical-align: middle;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -10px;
  left: 15px;
  border-radius: 40px;
  background-color: #06D10E;
  color: white;
}

.main_nav {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  padding-top: 75px;
}

.nav_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #4F4F4F;
}
.nav_block a {
  margin-right: 40px;
}
.nav_block a:nth-child(1) {
  margin-right: 60px;
}

.arrow {
  position: relative;
  top: -2px;
  right: -2px;
}

.header_input {
  position: relative;
  padding: 16px 124px 16px 20px;
  background: #F2F2F2;
  border: 1px solid #BDBDBD;
  border-radius: 10px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #828282;
}

.header_form {
  position: relative;
  margin: 0px;
  display: inline-block;
  font-size: 0px;
}

.search {
  font-size: 0px;
  display: inline-block;
  margin: 0px;
  position: absolute;
  top: 13px;
  left: 320px;
  border: none;
}

.background_color {
  background-color: #F9F9F9;
}

.bread_crumbs {
  padding-top: 75px;
  margin-bottom: 30px;
}

.bread_crumbs .crumbs {
  display: inline-block;
  margin-right: 35px;
  color: #BDBDBD;
  text-decoration: none;
}

.crumbs:last-child {
  margin-right: 0px;
}

.crumbs:nth-last-child(n+2)::after {
  display: inline-block;
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin-left: 15px;
  background-color: #BDBDBD;
}

.arrow {
  position: relative;
  vertical-align: middle;
  top: -2px;
}

.back_button {
  margin-bottom: 44px;
}
.back_button .back {
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #333;
}

.card {
  width: 315px;
  padding: 20px 20px 25px 20px;
  border: 1px solid black;
  border-radius: 20px;
}
.card .price {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
}