@use"./variables" as *;
@use"./mixins" as *;

@import "./sections/setting";
@import "./sections/header";


.contact_navigation {
  padding: 33px 0px 42px;
  display: flex;
  justify-content:space-between;
}

.logo {
  display: flex;
  width: 244px;
  height: 46px; 
}

.number_cart_account {
  display: flex;
  align-items:center;
}


.telephone  {
  display: flex;
  align-items: center;
  .room {
    margin-left: 10px;
    margin-right: 60px;
    font-weight: 400;
    @include font(20px,21px);
    text-decoration:none;
    color: $baseColor;
  }
}

.shopping_basket {
  position: relative;
  margin-right: 18px;
  .two_orders {
    @include font(12px,15px);
    margin: 0px;
    vertical-align: middle;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    position: absolute;
    top: -10px; left: 15px;
    border-radius: 40px;
    background-color: $secondaryColor;
    color: $tertiaryColor;
  }
}

.main_nav {
  display: flex;
  justify-content: space-between;
}

.nav_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  a{
    margin-right: 40px;
  }
  a:nth-child(1){
    margin-right: 60px;
  }
}

input {
  position: relative;
  padding: 16px 124px 16px 20px;
  background: #F2F2F2;
  border: 1px solid #BDBDBD;
  border-radius: 10px;
}


button img {

  top: 135px; left: 1580px;
}